@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,italic&display=swap");
@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #aaa;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #aaa;
  background-color: #0c0b08;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 81.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 105rem;
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__logo, .scroll, .block-header {
  font-family: "CormorantUpright";
}

.header__logo, .scroll, .block-header {
  font-family: "CormorantUpright";
}

.main-bg {
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 120%;
  background: url("@img/main-bg.jpg") center/cover no-repeat;
}

.block-header {
  display: grid;
  gap: 8px;
  justify-items: center;
  text-transform: capitalize;
}
.block-header:nth-of-type(1) {
  justify-items: left;
}
.block-header__sub-tittle {
  color: #fff;
  font-size: 23px;
  letter-spacing: 0.4em;
  line-height: 130%;
}
.block-header__sub-tittle::before {
  content: "";
}
.block-header__headrever {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.block-header__sub-tittle {
  text-align: left;
}
.block-header__tittle {
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.4em;
  color: #dcca87;
  text-align: left;
}
.scroll {
  color: #dcca87;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  display: grid;
  justify-items: center;
  gap: 24px;
}
.scroll::before {
  content: "";
  background: rgb(220, 202, 135);
  width: 1px;
  height: 61px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, rgb(220, 202, 135)), to(rgba(220, 202, 135, 0)));
  background: linear-gradient(180deg, rgb(220, 202, 135) 66%, rgba(220, 202, 135, 0) 100%);
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__logo, .block-header, .scroll {
  font-family: "CormorantUpright";
}

.header {
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header__container_wide {
  z-index: 5;
}
@media (max-width: 47.99875em) {
  .header__container {
    gap: 25px;
  }
}
.header__column {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__column_wide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__column_auth {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.header__logo {
  position: relative;
  z-index: 5;
  font-weight: 700;
  font-size: 275%;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #0c0c0c;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    top: -100%;
    position: fixed;
    width: 100%;
    left: -100%;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    height: 77.2px;
    z-index: 4;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    top: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17.86% 6.04%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__list:not(:last-child) {
    margin-bottom: 130px;
  }
}
@media (max-width: 47.99875em) {
  .menu__item {
    padding-bottom: 5px;
  }
}
.menu__link {
  line-height: 175%;
  letter-spacing: 0.04em;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 30px;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #dcca87;
  }
}

.auth-header {
  height: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 71.875em) {
  .auth-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (min-width: 71.875em) {
  .auth-header {
    padding: 22px 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 514px) {
  .auth-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.auth-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 71.875em) {
  .auth-header__item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -100%;
    min-height: 300%;
    right: -24px;
    width: 1px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 255, 255)), color-stop(70%, rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0) 100%);
  }
}
.auth-header__link {
  text-align: center;
  line-height: 140%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .auth-header__link:hover {
    color: #dcca87;
  }
}
@media (max-width: 514px) {
  .auth-header__link {
    font-size: 25px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  position: relative;
  z-index: 2;
}

.main-slider {
  background-color: #0c0d08;
}
.main-slider:nth-of-type(1) {
  padding-top: 125.2px;
}
.main-slider:nth-of-type(1) {
  padding-bottom: 70px;
}
.main-slider__container_wide {
  position: relative;
}
.main-slider__scroll {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slide-main-slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.slide-main-slider__content {
  padding-right: 40px;
}
.menu-main-slider {
  position: absolute;
  left: 15px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-main-slider__link {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transition: hover 0.3s ease 0s;
  transition: hover 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-main-slider__link:hover {
    color: #dcca87;
  }
}
.menu-main-slider__link ._current {
  color: #dcca87;
}